*{
  margin: 0;
  /* background-color: rgb(29, 27, 27); */
  overflow-x: hidden;
  font-family: sans-serif;
}


.blogs{
  height: auto;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}